@model WineBook.Models.ProducerViewModel
@* This is needed to bind the collection back to the Parent on Submit *@

<div id="winery">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Winery.WineMakerName" class="control-label"></label>
        <input asp-for="Winery.WineMakerName" class="form-control" />
        <span asp-validation-for="Winery.WineMakerName" class="text-danger"></span>
    </div>
</div>